.sortable {
  border-spacing: 0;
}

.sortable thead td {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.sortable tbody tr:nth-child(odd) {
  background: #e4e4e4;
}

.sortable td,
.sortable th {
  padding: 10px;
}

.sortable td:first-child,
.sortable th:first-child {
  border-top-left-radius: 4px;
}

.sortable td:last-child,
.sortable th:last-child {
  border-top-right-radius: 4px;
}

.sortable th {
  background: #808080;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  text-align: left;
  text-transform: capitalize;
  vertical-align: baseline;
  white-space: nowrap;
}

.sortable th:hover {
  color: #000;
}

.sortable th:hover::after {
  color: inherit;
  font-size: 1.2em;
  content: " \025B8";
}

.sortable th::after {
  font-size: 1.2em;
  color: transparent;
  content: " \025B8";
}

.sortable th.dir-d {
  color: #000;
}

.sortable th.dir-d::after {
  color: inherit;
  content: " \025BE";
}

.sortable th.dir-u {
  color: #000;
}

.sortable th.dir-u::after {
  color: inherit;
  content: " \025B4";
}
