
.sortable {
	th {
		color: #00f;
		cursor: pointer;
		padding: 2px;
		text-align: left;
		text-decoration: underline;
		text-transform: capitalize;
		vertical-align: baseline;
		white-space: nowrap;
		&:hover {
			color: #f00;
		}
		&::after {
			content: ' \025B8';
		}
		&.dir-down {
			background: #c0c0c0;
			&::after {
				content: ' \025BE';
			}
		}
		&.dir-up {
			background: #c0c0c0;
			&::after {
				content: ' \025B4';
			}
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: #c0c0c0;
			}
		}
	}
}
thead {
	td {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}
