.sortable {
	border-spacing: 0;
	th, td {
		padding: 10px;
		&:first-child {
			border-top-left-radius: 4px;
		}
		&:last-child {
			border-top-right-radius: 4px;
		}
	}

	thead {
		td {
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
		}
	}

	th {
		background: #808080;
		color: #fff;
		cursor: pointer;
		font-weight: normal;
		text-align: left;
		text-transform: capitalize;
		vertical-align: baseline;
		white-space: nowrap;
		&:hover {
			color: #000;
			&::after {
				color: inherit;
				content: ' \025B8';
			}
		}
		&::after {
			color: transparent;
			content: ' \025B8';
		}
		&.dir-down {
			color: #000;
			&::after {
				color: inherit;
				content: ' \025BE';
			}
		}
		&.dir-up {
			color: #000;
			&::after {
				color: inherit;
				content: ' \025B4';
			}
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: #e4e4e4;
			}
		}
	}
}
